body {
	margin: 0;
	padding: 1em;
	font-family: 'Abel', sans-serif;
	color: #aaaaaa;
	background-color: Black;
	font-size: large;
	/*
	background-image: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	*/
	line-height: 1.5;
}
main {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1em;
	width: auto;
	max-width: 51em;
	background-color: rgba(0,0,0,0.65);
	border: thin solid DarkRed;
	box-shadow: 0 0 3em -1em DarkRed;
}
::selection {
	color: #aaaaaa;
	background-color: #450000;
}
pre {
	margin: 0;
	border: thin solid DarkRed;
	padding: 1em;
	overflow: auto;
	white-space: nowrap;
}
pre,code,samp,kbd {
	font-family: 'Share Tech Mono', monospace;
}
a {
	color: DarkRed;
	text-decoration: none;
	outline: none;
}
a:hover,a:focus{
	text-decoration: underline;
}
a:active {
	color: DarkOrange;
}
ul {
	padding: 0 1.5em;
	list-style-type: none;
}
table {
	margin: 0 auto;
	width: 75%;
	border-collapse: collapse;
}
table td,table th {
	border: thin solid;
	padding: 0.5em;
}
figure {
	margin: 1em;
}
figcaption {
	text-align: center;
}
blockquote {
	margin: 0;
	border-left: thick solid DarkRed;
	padding: 0 1em;
}
p {
	text-indent: 1em;
}
header {
	padding: 1em;
	text-align: center;
}
h1 {
	text-align: center;	
}
footer {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}
#website_controls {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#website_controls>li {
	display: inline-block;
	padding: 0 1em;
}
#background_video_player {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -999;
	transform: translate(-50%, -50%);
	filter: brightness(35%);
}
@media print {
	@page {
		margin: 0.5in;
	}
	#background_video_player {
		display: none;
	}
	body {
		margin: 0;
		padding: 0;
		color: Black;
		background-color: transparent;
		background-image: none;
	}
	table {
		width: auto;
	}
	table td,table th {
		border: thick solid Gray;
	}
	header {
		display: none;
	}
	main {
		margin: 0;
		border: none;
		padding: 3em;
		background-color: transparent;
		box-shadow: none;
	}
	footer {
		display: none;
	}
	p {
		page-break-inside: avoid;
		page-break-before: auto;
		page-break-after: auto;
	}
	h1 {
		page-break-before: always;
	}
	main h1:first-of-type {
		page-break-before: avoid;
	}
}
