body {
	font-family: 'Lustria', serif;
	color: White;
	background-color: Black;
	background-image: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	line-height: 1.5;
}
body a {
	color: DarkRed;
	text-decoration: none;
}
body a:hover {
	text-decoration: underline;
}
body ul {
	padding: 0 1.5em;
	list-style-type: none;
}
body table {
	margin: 0 auto;
	width: 75%;
	border-collapse: collapse;
}
body table td,body table th {
	border: thin solid;
	padding: 0.5em;
}
figure figcaption {
	text-align: center;
}
body>header {
	padding: 1em;
	text-align: center;
}
body>main {
	margin: 0 12.5%;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.9);
	border: thin solid DarkRed;
}
body>main>h1 {
	text-align: center;	
}
body>footer {
	margin: 0 12.5%;
	padding: 1em;
}
@media print {
	@page {
		margin: 0.5in;
	}
	body {
		margin: 0;
		color: Black;
		background-color: transparent;
		background-image: none;
	}
	body table {
		width: auto;
	}
	body table td,body table th {
		border: thick solid Gray;
	}
	body>header {
		display: none;
	}
	body>main {
		margin: 0;
		border: none;
		padding: 3em;
		background-color: transparent;
	}
	body>footer {
		display: none;
	}
	body main p {
		page-break-inside: avoid;
		page-break-before: auto;
		page-break-after: auto;
	}
	body main h1 {
		page-break-before: always;
	}
	body main h1:first-of-type {
		page-break-before: avoid;
	}
}
